#logo,
#social_sticker,
#contact_me {
  padding-top: 30px;
}
.logo,
.sticker {
  padding-top: 50px;
}
.contact {
  background-color: black;
}
h3.heading {
  color: white;
}
p.para {
  color: white;
}
