.whatsApp{
  position:fixed;
  
  bottom:40px;
  left:40px;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.my-whatsApp{
  margin-top:16px;
  color: white;
}